.contactBanner {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0.3 !important;
  }
  .heading {
    position: absolute;
    padding: 15px;
    h1 {
      text-align: center;
      color: #c38c31 !important;
      margin: 0;
    }
    h2 {
      position: relative;
      padding: 10px;
      margin: 0px;
    }
    p {
      text-align: center;
    }
  }
}

.galleryWrapper {
  text-align: center;
  input {
    border: 2px solid #c38c31;
    padding: 8px;
    margin: 8px;
  }
  select {
    border: 2px solid #c38c31;
    padding: 8px;
    margin: 8px;
    option {
    }
    &:hover {
      background: #c38c31;
      color: white;
    }
  }
}

.imagesGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imageCard {
  width: 300px;
  border: 2px solid #c38c31;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 5px;
}

.imageCard img {
  width: auto;
  height: 210px;
}

.pagination {
  margin-top: 20px;
}

.pageButton {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pageButton.active {
  background-color: #c38c31;
  color: white;
}

@media (max-width: 768px) {
  .galleryWrapper {
    input {
      width: 75%;
    }
    select {
      width: 75%;
    }
  }
}
