.contactBanner {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0.3 !important;
  }
  .heading {
    position: absolute;
    padding: 15px;
    h1 {
      text-align: center;
      color: #c38c31 !important;
      margin: 0;
    }
    h2 {
      position: relative;
      padding: 10px;
      margin: 0px;
    }
    p {
      text-align: center;
    }
  }
}
.contentBorder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
  /* width: 100%;
  height: 100%; */
  .contactContent {
    border-radius: 15px;
    font-family: DM Sans Merlin;
    color: black;
    background-color: #f7f7f7;
    margin: 10px;
    padding: 10px;
    width: 95%;
  }
  :hover {
    background: #c38c31;
    color: white;
    h2 {
      color: white !important;
    }
  }
}
