.contactBanner {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0.5;
  }
  .logo {
    opacity: 1 !important;
    width: 90px;
    height: 90px;
    left: -20px;
  }
  /* .heading {
    position: absolute;
    h1 {
      text-align: center;
      color: black;
      margin: 0;
    }
    p {
      text-align: center;
    }
  } */
}
.contentHome {
  p {
    margin: 0px;
  }
}
