.contactBanner2 {
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  h1{
    position: absolute !important;
    left: 50% !important;
    top: 60% !important;
    font-style: italic !important;
    color: #c38c31 !important;
    transform: translate(-50%, -50%);
    font-size: 45px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0.5;
  }
  .logo {
    opacity: 1 !important;
    width: 90px;
    height: 90px;
    position: absolute; /* Ensure the logo is positioned absolutely within its parent */
    top: 50%; /* Center vertically (if needed) */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
  }
}
.contentHome {
  p {
    margin: 0px;
  }
}
.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hinput {
  padding: 10px;
  width: 320px;
  border: 3px solid #c38c31;
}
.notF {
  font-size: larger;
  color: #c38c31;
}

h2 {
  color: #c38c31;
  font-size: 32px;
}

.buttonBorder {
  margin-bottom: 30px;
}

.mapStyle {
  width: 80%;
  border: 5px solid #c38c31;
  height: 55vh;
}
