.artCardBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  .artCard {
    border: 5px solid #c38c31;
    /* width: 350px;
      height: 350px; */
    width: 80%;
    margin: 30px;
    img {
      width: 50%;
      height: 50%;
      border: 3px solid #c38c31;
    }
  }
  h1{
    color: #c38c31;
    background: transparent;
  }
  .artContent {
    margin: 10px;
    color: #c38c31;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.thumbnails {
  display: flex;
  justify-content: center;
  margin: 0px 30px;
  img {
    border: 3px solid #c38c31;
    object-fit: cover;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .artCardBorder {
    flex-direction: column;
  }
}
