.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  background: #c38c31;
  margin: 0px;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  a {
    text-decoration: none;
    margin: 0px 25px 0px 0px;
    color: white;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}
.hamOption {
  svg {
    display: none;
  }
}
.n {
  display: none;
}

@media (max-width: 768px) {
  .n {
    height: 100vh;
    background-color: #c38c31;
    position: fixed;
    width: 100%;
    z-index: 999;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

  .hamOption {
    text-align: left;
    color: white;
    background: #c38c31;
    padding: 15px;
    font-size: 25px;
    svg {
      display: block;
    }
  }
  .navbar {
    display: none;
  }
}
