.contactBanner1 {
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    opacity: 0.3;
  }
  .heading {
    position: absolute;
    padding: 15px;
    h1 {
      text-align: center;
      color: #c38c31;
      margin: 0;
      background: transparent;
      font-size: 48px;
    }
    p {
      text-align: center;
    }
  }
}
.aboutContentBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .aboutContent {
    padding: 35px;
    width: 65%;
    border-radius: 15px;
    background-color: #f7f7f7;
  }
  :hover {
    background: #c38c31;
    color: white;
  }
}
.AboutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f7f7f7;
  margin: 25px 0px;
  padding: 15px 0px;
  .AboutInfoContent {
    background: #c38c31;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
  }
}
.ButtonBorder {
  margin-bottom: 30px;
}
