.policyContainer {
  margin: 30px;
  text-align: justify;
  h1 {
    color: #c38c31;
    background: transparent !important;
  }
  h3 {
    color: #c38c31;
    background: transparent !important;
  }
}
